{% extends 'layout.html.twig' %}

{% block title %}New ProductionJournalier{% endblock %}

{% block content %}
    <div class="container">
        <h1>Production Journalier</h1>

        {{ include('production_journalier/_form.html.twig') }}

        {# <a href="{{ path('production_journalier_index') }}">back to list</a> #}
    </div>
{% endblock %}
