{% extends 'base.html.twig' %}

{% block title %}New PlanningHebdomadaire{% endblock %}

{% block body %}
    <h1>Create new PlanningHebdomadaire</h1>

    {{ include('planning_hebdomadaire/_form.html.twig') }}

    <a href="{{ path('planning_hebdomadaire_index') }}">back to list</a>
{% endblock %}
