{% extends 'base.html.twig' %}

{% block title %}Edit OrdreFabricationTaille{% endblock %}

{% block body %}
    <h1>Edit OrdreFabricationTaille</h1>

    {{ include('ordre_fabrication_taille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordre_fabrication_taille_index') }}">back to list</a>

    {{ include('ordre_fabrication_taille/_delete_form.html.twig') }}
{% endblock %}
