{% extends 'layout.html.twig' %}

{% block title %}New OrdreFabrication{% endblock %}

{% block content %}

    <div class="container">
        {{ include('ordre_fabrication/_form.html.twig') }}
    </div>
    
{% endblock %}
